<% if @ron_claimer_ids.include?(@game.user_player.id) %>
  <div class="absolute bottom-1/8 right-1/10">
    <div class="flex gap-2">
      <%= button_to "ロン",
                    game_action_ron_path(@game),
                    params: {
                      discarded_tile_id: @discarded_tile_id,
                      ron_claimer_ids: @ron_claimer_ids
                    },
                    class: "rounded border px-2 py-1" %>

      <%= button_to "スルー",
                    game_action_through_path(@game),
                    class: "rounded border px-2 py-1" %>
    </div>
  </div>

<% else %>
  <%= form_with url: game_action_ron_path(@game),
                method: :post,
                data: { controller: "auto-submit" } do |form| %>
    <%= form.hidden_field :discarded_tile_id, value: @discarded_tile_id %>
    <% @ron_claimer_ids.each do |player_id| %>
      <%= hidden_field_tag 'ron_claimer_ids[]', player_id %>
    <% end %>
  <% end %>
<% end %>
