<div class="absolute <%= build_hand_position_class(player) %>">
  <% if @action == :choose && player.user? %>
    <%= form_with url: game_action_discard_path(@game) do |form| %>
      <div class="flex">
        <%= render partial: "games/players/hand_form", collection: player.hands, as: :hand, locals: { form: } %>
      </div>
    <% end %>

  <% elsif @action == :riichi_choose && player.user? %>
    <%= form_with url: game_action_discard_path(@game) do |form| %>
      <div class="flex">
        <%= render partial: "games/players/riichi_form", collection: player.hands, as: :hand, locals: { form: } %>
      </div>
    <% end %>

  <% else %>
    <div class="flex <%= '-translate-y-1/2' if player.relation_from_user.in?([ :shimocha, :kamicha ]) %>">
      <%= render partial: "games/players/hand_plain", collection: player.hands, as: :hand %>
    </div>
  <% end %>
</div>
