<div class="relative w-[4cqw] <%= 'ml-3' if hand.drawn? %>">
  <% if @riichi_candidate_ids.include?(hand.id) %>
    <%= form.radio_button :chosen_hand_id, hand.id, class: "hidden peer" %>
    <%= form.label :chosen_hand_id, value: hand.id, class: "block peer-checked:-translate-y-2" do %>
      <%= image_tag("tiles/#{hand.suit}_#{hand.number}.gif", class: "block w-full h-auto") %>
    <% end %>
    <%= form.submit "", class: "absolute inset-0 hidden peer-checked:block" %>

  <% else %>
    <%= image_tag("tiles/#{hand.suit}_#{hand.number}.gif", class: "block w-full h-auto") %>
  <% end %>
</div>
