<% if @game.current_player.user? %>
  <div class="absolute bottom-1/8 right-1/10">
    <div class="flex gap-2">
      <%= button_to "リーチ",
                    game_play_command_path(@game),
                    params: {
                      event: "confirm_riichi",
                      riichi: true
                    },
                    form: { data: { testid: "confirm_riichi" } },
                    class: "rounded border px-2 py-1" %>

      <%= button_to "パス",
                    game_play_command_path(@game),
                    params: {
                      event: "confirm_riichi",
                      riichi: false
                    },
                    form: { data: { testid: "confirm_riichi" } },
                    class: "rounded border px-2 py-1" %>
    </div>
  </div>
<% else %>
  <%= form_with url: game_play_command_path(@game),
                data: { controller: "auto-submit", testid: "riichi-form" } do |form| %>
    <%= form.hidden_field :event, value: "confirm_riichi" %>
    <%= form.hidden_field :riichi, value: true %>
  <% end %>
<% end %>
