<div class="absolute bottom-0 left-1/2 -translate-x-1/2">
  <%= form_with url: game_action_discard_path(game) do |form| %>
    <div class="flex">
      <% player.hands.each do |tile| %>
        <div class="relative">
          <%= form.radio_button :selected_tile_id, tile.id, class: "hidden peer" %>
          <%= form.label :selected_tile_id, value: tile.id, class: "block peer-checked:-translate-y-2" do %>
            <%= render "games/plays/tile", tile: %>
          <% end %>
          <%= form.submit "", class: "absolute inset-0 hidden peer-checked:block" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
